
@{
    ViewBag.Title = "Finish Registration";
}
    <div class="well ">
        <h2>Finish Registration</h2>
        Please  @Html.ActionLink("Complete the Registration process", "Create", "registeredUsers") for this application by clicking the link
    </div>


