
@{
    ViewBag.Title = "Admin Only";
}
<div class="alert alert-danger">
<h2>Restricted Access</h2>
<h3>Only administrators are allows to delete registered user data.</h3>
</div>
<br />
<br />
@Html.ActionLink("Return to home page", "index", "home")
