
@{
    ViewBag.Title = "DuplicateUser";
}
<div class="alert alert-warning">
<h2>Unable to create user because one already exists</h2>
    
</div>

@Html.ActionLink("Return to registered user page", "index", "registeredUsers")

