
@{
    ViewBag.Title = "Authorization Error";
}

    <div class="alert alert-danger">
        <h2>You are not Authorized to Edit Registrated User Data</h2>
        <h3>You may only edit your own data</h3>
    </div>
<br/>
<br />
@Html.ActionLink("Return to home page", "index", "home") 
