@{
    ViewBag.Title = "About Apartments-R-Us";
}
<h2>@ViewBag.Title.</h2>


<p>This application was developed to demonstrate principals of ASP.NET MVC web develoment for the book <em>Project Develoopment with ASP.NET MVC</em>.</p>
