@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Apartments-R-Us</h2>
    <p >An application bringing together appartment owners and tenants</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Owner Information</h2>
        <p>
            This part will have links to owners and their buildings</p>
    </div>
    <div class="col-md-4">
        <h2>Tenants</h2>
        <p>This part will have information on past and current tenants and their leases</p>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>This setion will contain links to various reports</p>
    </div>
</div>