
@{
    ViewBag.Title = "Missing Registration";
}

<div class="alert alert-danger">
    <h2>Complete the Registration Process</h2>
    <h3>Before you can create or edit owner, building or lease records</h3>
    <h3>you need to complete the registratin process and notify the </h3>
    <h3>System Administrator to be assigned to the appropriate role.</h3>
</div>
<br />
<br />
@Html.ActionLink("Return to home page", "index", "home")

