
@{
    ViewBag.Title = "Restricted Operation";
}
    <div class="alert alert-danger">
        <h2>Restricted Operation</h2>
        <h3>Only owners and administrators are allowed to create or edit these records.</h3>
    </div>
<br /><br />
@Html.ActionLink("Home", "Index", "Home");
